@model IEnumerable<poopi.Models.StudentViewModel>

@{
    ViewBag.Title = "GetAllStudents";
}

<h2>GetAllStudents</h2>

<table class="table">
    <tr>
        <th>
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img class="admin-student-pic" src="~/Image/@item.Image">
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditStudent", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteStudent", new { id=item.Id })
        </td>
    </tr>
}

</table>
