@model IEnumerable<poopi.Models.RequestViewModel>

@{
    ViewBag.Title = "GetAllRequests";
}

<h2>GetAllRequests</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupName)
        </td>
        <td>
            @Html.ActionLink("Deny", "Deny", new { id=item.Id })
        </td>
    </tr>
}

</table>
