@model poopi.Models.GroupViewModel

@{
    ViewBag.Title = "GetMyGroup";
}

<h2>GetMyGroup</h2>

<div>
    <h4>GroupViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course)
        </dd>

    </dl>
    <table class="table">
        @if (Model.Students != null)
        {
            foreach (var item in Model.Students)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
                    </td>
                    <td>
                        <img class="small-pic" src="~/Image/@item.Image" />
                    </td>
                </tr>
            }
        }
    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
