@model poopi.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<h2>Hello @Html.DisplayFor(model => model.FullName)!</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <dl class="dl-horizontal dl-spacing">
        <dt>
            Profile avatar:
        </dt>
        <dd>
            <div class="col-lg-2">
                <img class="profile-image-student" src="~/Image/@Model.Image" />
            </div>
            <div class="col-lg-10">

                @Html.ActionLink("Edit Profile", "Edit", null, new { @class = "link-student" })
            </div>
        </dd>
        <dt>Password:</dt>
        <dd>

            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "link-student" })
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword", null, new { @class = "link-student" })
            }

        </dd>
        @*<dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count
            @Html.ActionLink("Manage", "ManageLogins", null, new { @class = "link-student" })
        </dd>*@
        <dt>Email:</dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>Full name:</dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
    </dl>
</div>
